---
import Layout from "../layouts/Layout.astro";
import i9 from "../img/9.jpg";
import i10 from "../img/10.jpg";
import i11 from "../img/11.jpg";
import i12 from "../img/12.jpg";
import i13 from "../img/13.jpeg";
---

<Layout title="Welcome to Astro.">
    <div class="contenedor-scroll">
        <h1>BIOGRAFÍA</h1>
        <br />
        <h3>
            Joaquín Sorolla Bastida (Valencia, 27 de febrero de 1863-Cercedilla,
            10 de agosto de 1923) fue un pintor español. Artista prolífico, dejó
            más de 2200 obras catalogadas. Su obra madura ha sido etiquetada
            como impresionista, postimpresionista y luminista.
        </h3>
        <br />
        <p>
            Cuando apenas contaba dos años de edad, fallecieron sus padres
            Joaquín Sorolla Gascón y María Concepción Bastida Prat, muertos por
            una epidemia de cólera. Al quedar huérfanos fueron acogidos, su
            hermana Concha y él, por su tía Isabel, hermana de su madre, y su
            marido, de profesión cerrajero. Pasados los años, su tío intentó
            enseñarle, en vano, el oficio de la cerrajería advirtiendo pronto
            que su verdadera vocación era la pintura.
        </p>
        <br />
        <p>
            Estudió dibujo en la "Escuela de Artesanos de Valencia". Compartió
            estudio en la planta baja de la calle Las Avellanas n.º 12 de
            Valencia con José Vilar y Torres, los hermanos Benlliure —Blas, José
            y Juan Antonio— e Ignacio Pinazo Camarlench. Al acabar su formación
            comenzó a enviar sus obras a concursos provinciales y exposiciones
            nacionales de bellas artes, como la de Madrid en mayo de 1881, donde
            presentó tres marinas valencianas que pasaron inadvertidas, pues no
            encajaban con la pintura oficial, de temática histórica y dramática.
        </p>
        <br />
        <p>
            Al año siguiente estudió la obra de Velázquez y otros autores en el
            Museo del Prado. Tras visitar el Museo del Prado, Sorolla pintó en
            1883 el lienzo inédito Estudio de Cristo, descubierto en 2012, donde
            se observa la influencia del Cristo crucificado de Velázquez.
            Comienza así su "etapa realista", siendo su profesor Gonzalo Salvá.
            Por fin, en 1883, consiguió una medalla en la Exposición Regional de
            Valencia, y en 1884 alcanzó la gloria al conseguir la Medalla de
            segunda clase en la Exposición Nacional gracias a su obra Defensa
            del parque de artillería de Monteleón, obra melodramática y oscura,
            hecha expresamente para la exposición; tal y como le dijo a un
            colega suyo: «Aquí, para darse a conocer y ganar medallas hay que
            hacer muertos».
        </p>
        <br />
        <p>
            Cosechó otro gran éxito en Valencia con su obra El crit del palleter
            sobre la guerra de la Independencia. De esta manera, fue pensionado
            por la Diputación Provincial de Valencia para viajar a Roma, donde,
            a la vez que trabajaba, conoció el arte clásico y renacentista, así
            como los grandes museos, contactando, además, con otros artistas.
        </p>
        <br />
        <img
            src={i9.src}
            alt="Marina (1880) correspondiente a la primera etapa de Sorolla, cuando aún no había acabado su formación académica. Museo Sorolla, Madrid."
        />
        <br />
        <p>
            Con su amigo, el también pintor Pedro Gil, se desplazó a París
            durante el primer semestre de 1885, y conoció de cerca la pintura
            impresionista, que produjo en él, ya de regreso en Roma, variaciones
            en su temática y estilo, llegando a pintar el cuadro religioso El
            entierro de Cristo, con el que no tuvo el éxito esperado. Tomó así
            contacto con las vanguardias europeas, destacando el impacto que le
            produjeron las obras de los pintores John Singer Sargent, Giovanni
            Boldini y Anders Zorn.
        </p>
        <br />
        <p>
            En 1888, contrajo matrimonio con Clotilde García del Castillo en
            Valencia, aunque vivirían un año más en Italia, esta vez en la
            localidad de Asís. A esa época se relacionan algunas de sus obras,
            entre ellas Vendiendo melones (Museo Carmen Thyssen Málaga), época
            en la que pintaba temas costumbristas y anecdóticos, por su fácil
            venta. Por lo general eran pequeñas acuarelas que comercializaba su
            marchante, Francisco Jover.
        </p>
        <br />
        <img
            src={i10.src}
            alt="Vendiendo melones (1890), óleo sobre tela. Museo Carmen Thyssen Málaga."
        />
        <br />
        <p>
            En 1889, el pintor y su familia se instalaron en Madrid y, en apenas
            cinco años, Sorolla alcanzaría gran renombre como pintor. En 1894,
            viajó de nuevo a París, donde desarrolló un estilo pictórico
            denominado «luminismo», que sería característico de su obra a partir
            de entonces. Comenzó a pintar al aire libre, dominando con maestría
            la luz y combinándola con escenas cotidianas y paisajísticas de la
            vida mediterránea. En obras como La vuelta de la pesca, La playa de
            Valencia o Triste herencia describió el sentimiento que producía la
            visión del mar Mediterráneo, comunicando el esplendor de una mañana
            de playa con un colorido vibrante y un estilo suelto y vigoroso. Con
            Triste herencia recibió, en 1900, el Grand Prix en el certamen
            internacional de París. Además, siguió con su pintura de denuncia
            social que tantos éxitos le había reportado en los últimos años con
            obras como Y aún dicen que el pescado es caro (1894).
        </p>
        <br />
        <p>
            En agosto de 1900, estando en Valencia, su amigo el escultor Ricardo
            Causarás Casaña fue a visitar a Sorolla para pedirle que posara de
            modelo vivo para esculpir una estatua de terracota y yeso, algo
            mayor del natural, que Causarás tenía pensado exponer en la
            Exposición General de Bellas Artes de Madrid del año 1901. Sorolla
            estuvo en el mes de enero de 1901 en el estudio de escultura,
            posando de modelo durante veinte días para su amigo Causarás, que,
            además de esculpir su estatua, también esculpió aparte un
            busto-retrato de su cabeza, solamente en terracota, y el vaciado en
            yeso de la mano derecha de Sorolla en posición de pintar. En el mes
            de mayo de 1901 la estatua Sorolla fue expuesta en la Exposición
            General de Bellas Artes de Madrid, siendo premiada por el jurado con
            «Consideración de Medalla de Tercera Clase en Escultura».
            Posteriormente permaneció expuesta en Valencia desde 1901 hasta
            1925, en la sala principal del Círculo de Bellas Artes, siendo
            finalmente regalada al Ayuntamiento de Valencia, que la depositó
            hasta mediados del mes de agosto de 1930 en los Reales Jardines de
            los Viveros de Valencia. Por aquel entonces Valencia lo nombró hijo
            predilecto y meritorio, y le fue dado su nombre a una calle. Tras
            muchos viajes por Europa, principalmente Inglaterra y Francia,
            celebró una exposición en París con más de medio millar de obras, lo
            que le dio un reconocimiento internacional inusitado, conociéndose
            su obra pictórica por toda Europa y América. En 1902 viaja hasta La
            Arena, en Asturias, por recomendación de Agustín Lhardy. Pretendía
            pasar unas semanas pero su experiencia se repitió durante tres
            veranos más, interesado en captar la diferente luz de la costa
            asturiana. Hacia el verano de 1905 está en Jávea y realiza una serie
            de pinturas de niños desnudos, una de sus series más famosas y que
            le valieron el posterior encargo de la Hispanic Society of America.
            Uno de los cuadros más destacados de la serie es El baño, de 1905 y
            que pertenece a la colección del Museo Metropolitano de Nueva York.
        </p>
        <br />
        <img
            src={i11.src}
            alt="Trata de blancas (1894), Museo Sorolla, Madrid. El autor ha de adaptarse al realismo social, dominante en los certámenes de la época. Para ello, mantiene su temática costumbrista, siendo los títulos los que aportarán la denuncia social."
        />
        <br />
        <p>
            En 1905, el pintor adquirió un solar en el paseo del Obelisco de
            Madrid (luego calle del General Martínez Campos), junto a la
            residencia de la actriz María Guerrero. En 1909, encargó el proyecto
            al arquitecto Enrique María de Repullés y Vargas. Poco después
            compró un segundo solar contiguo que le permitiría ampliar la zona
            construida e incorporar tres jardines a la vivienda. Sorolla
            inauguró en 1911 su nuevo hogar en Madrid, tras pasar por diversos
            estudios y domicilios en la ciudad —plaza el Progreso, pasaje de la
            Alhambra, calle de Miguel Ángel—. Su éxito económico es evidente
            desde 1905. En parte, también provino de su exposición en Nueva York
            en 1909, que cosechó un éxito sin precedentes, con obras como Sol de
            tarde o Nadadores, entre otras muchas. También triunfó en 1911, en
            el Museo de Arte de San Luis y en el Instituto de Arte de Chicago.
        </p>
        <br />
        <p>
            En noviembre de ese mismo año firmó un encargo para la Sociedad
            Hispánica de América, por el que realizaría catorce murales que
            decorarían las salas de la institución, y dedicados a las Regiones
            de España. Con esta obra realizada entre 1913 y 1919, de tres metros
            y medio de alto por setenta metros de largo, alzó un imborrable
            monumento a España, pues en ella se representaban escenas
            características de diversas provincias tanto españolas como
            portuguesas. Necesitó casi todo el año de 1912 para viajar por todo
            el país, haciendo bocetos y trabajos de costumbres y paisajes. De
            esta tarea destacan los óleos pintados en 1916 dedicados a niños y
            mujeres en las playas de Valencia, donde predomina la libertad de
            pincelada y la luz de su tierra. Algunos ejemplos son Madre e hija o
            Pescadora valenciana.
        </p>
        <br />
        <img
            src={i12.src}
            alt="Ayamonte (1919). Pesca del atún. Uno de los lienzos más conocidos de su serie Visión de España."
        />
        <br />
        <p>
            Otra importante faceta que desarrolló en aquellos años fue la de
            retratista. Posaron para él personajes como Ramón y Cajal, Pérez
            Galdós, Machado, su paisano Vicente Blasco Ibáñez, o políticos como
            Emilio Castelar, el rey Alfonso XIII, el presidente William Howard
            Taft, la tiple Isabel Brú, además de una buena colección de retratos
            de su familia y algunos autorretratos.
        </p>
        <br />
        <p>
            En 1914 había sido nombrado académico y, cuando terminó los trabajos
            para la Hispanic Society, trabajó como profesor de composición y
            color en la Escuela de Bellas Artes de Madrid. En 1920, mientras
            pintaba en el jardín de su casa el retrato de la mujer de Ramón
            Pérez de Ayala, sufrió una hemiplejia que mermó sus facultades
            físicas y le impidió seguir pintando. Murió tres años después en su
            residencia veraniega de Cercedilla el 10 de agosto de 1923.
        </p>
        <br />
        <img src={i13.src} alt="Retrato de Raquel Meller, 1918." />
        <br />
        <p>
            En 1932, su casa de Madrid fue reabierta como Museo Sorolla. Su
            principal discípulo fue Teodoro Andreu.
        </p>
        <br />
        <p>
            En junio de 2023, Correos lanzó 124.000 sellos conmemorativos del
            centenario de su fallecimiento dentro de la serie Efemérides,
            ilustrados con el retrato fotográfico que le hiciera Diego González
            Ragel.
        </p>
    </div>
</Layout>

<style lang="scss">
    $negro: black;

    .contenedor-scroll {
        h1 {
            color: $negro;
            font-weight: bold;
        }

        h3 {
            color: $negro;
        }

        p {
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.648);
        }

        img {
            view-timeline-name: --image;
            view-timeline-axis: block;
            animation-timeline: --image;
            animation-name: show;
            animation-range: entry 25% cover 50%;
            animation-fill-mode: both;
            transition: all 0.4s ease-in-out;
        }

        img:hover {
            box-shadow: 0px 0px 2rem -0.4rem rgba(0, 0, 0, 0.397);
        }

        @keyframes show {
            from {
                opacity: 0;
                scale: 25%;
            }
            to {
                opacity: 1;
                scale: 100%;
            }
        }
    }
</style>
