---
import i1 from '../img/1.jpg'
import i2 from '../img/2.jpg'
import i3 from '../img/3.jpg'
import i4 from '../img/4.jpg'
import i5 from '../img/5.jpg'
import i6 from '../img/6.jpg'
import i7 from '../img/7.jpg'
import i8 from '../img/8.jpg'
---

<div class="h-screen flex flex-col justify-evenly -mt-8">
    <section class="w-full overflow-hidden">
        <article class="article1">
            <div class="flex">
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i1.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i2.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i3.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i4.src}
                    />
                </div>
            </div>
            <div class="flex">
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i1.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i2.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i3.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i4.src}
                    />
                </div>
            </div>
        </article>
    </section>

    <section class="w-full overflow-hidden">
        <article class="article2">
            <div class="flex">
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i5.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i6.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i7.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i8.src}
                    />
                </div>
            </div>
            <div class="flex">
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i5.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i6.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i7.src}
                    />
                </div>
                <div class="flex items-center justify-center ancho">
                    <img
                        class="object-contain h-full w-auto"
                        src={i8.src}
                    />
                </div>
            </div>
        </article>
    </section>
</div>

<style>
    .ancho {
        width: 50vw;
        padding: 1rem;
    }

    body {
        padding: 0%;
        margin: 0%;
    }

    .article1 {
        display: flex;
        width: 400%;
        height: 35vh;
        animation: bannermove 60s linear infinite;
    }

    .article2 {
        display: flex;
        width: 400%;
        height: 35vh;
        animation: bannermove2 60s linear infinite;
    }

    @keyframes bannermove {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes bannermove2 {
        0% {
            transform: translateX(-50%);
        }

        100% {
            transform: translateX(0);
        }
    }

    @media (min-width: 768px) {
        .article1 {
            animation: bannermove 100s linear infinite;
        }

        .article2 {
            animation: bannermove2 100s linear infinite;
        }
    }

    @media (min-width: 1024px) {
        .ancho {
            width: 25vw;
        }

        .article1 {
            width: 200%;
            animation: bannermove 140s linear infinite;
        }

        .article2 {
            width: 200%;
            animation: bannermove2 140s linear infinite;
        }
    }
</style>
